.loading{
	font-size: 16*@rem;
	margin-top: 30*@rem;
}
.article-item{
	padding: 10*@rem;
	text-align: left;
	.title{
		text-align: left;
		height: 18*@rem;
		font-size: 18*@rem;
		line-height: 18*@rem;;
		overflow: hidden;
		margin-bottom: 10*@rem;
	}

	.article-content{
		.content{
			word-break:break-all;
			line-height: 20*@rem;
		}
	}
	.meta{
		font-size: 12*@rem;
		color: #ABABAB;
		padding-bottom: 10*@rem;
	}
}
