.debugger{
	
	position: fixed;
	top: 10px;
	width:100%;
	
	z-index: 999;
	.content{
		background: white;
		border:1px solid red;
		min-height: 10px;
		max-height: 300px;
		overflow: scroll;
		text-align: left;
		font-size: 12px;
	}
}