
.debugger{	
	position: fixed;
	top: 10px;
	width:100%;
	
	z-index: 999;
	.content{
		background: white;
		border:1px solid red;
		min-height: 10px;
		max-height: 300px;
		overflow: scroll;
		text-align: left;
		font-size: 12px;
	}
}

.form-bottom-option{
	position: fixed;
	bottom: 0;
	height: 50*@rem;
	background: white;
	width: 100%;
	border-top: 1px solid #F1F1F1;
	.wrap{
		padding: 10*@rem;

	}
}