.mod-drawer{
	padding: 10*@rem;
	h2{
		font-size: 14*@rem;
		padding: 0;
		margin: 10*@rem 0;
	}
}
.mod-table{
	width: 100%;
	.el-icon-loading{
		position: absolute;
		left: 50%;
		margin-top: 100*@rem;
		margin-bottom: 30*@rem;
	}
}