/* 改变主题色变量 */
/*$--color-primary: teal;*/

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

@import "./fonts/index.scss";
@import "./variables.scss";

body{
	font-family: 'Quicksand', 'Avenir', Helvetica, Arial, sans-serif
}

h2{
	font-size: 24 * $rem;
	font-weight: normal;
}
a{
	text-decoration: none;
	color: $--color-primary;
}

.container{
	position: relative;
	margin:0 auto;	
	padding-top: 40*$rem;
  padding-bottom: 40*$rem;
}
.router-link-exact-active{
	font-weight: bold;
}
@media screen and (max-width: 768px) {
}
@media screen and (min-width: 768px) {
	.container{
		width:900px;
	}
}
html.mobile{
  .el-message{
    min-width: auto;
    width: 90%;
  }
}
.page-wrap{
  overflow: hidden;
}
.page-wrap-content{
  text-align: center;
  .loading{
    font-size: 16*$rem;
    margin-top: 30*$rem;
    margin-bottom: 30*$rem;
  }
}

.header{
	border-bottom: 1px solid #EAEAEA;
	background: white;
	height: 40*$rem;
  width: 100%;
  padding: 5*$rem;
  position: fixed;
  top: 0;
  z-index: 10;
}
.container{
  font-size: 14*$rem;
}
.footer{
  height: 40*$rem;
  border-top: 1px solid #ECECEC;
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 14*$rem;
  background: white;
}