/* 改变主题色变量 */
/*$--color-primary: teal;*/

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

@import "./fonts/index.scss";
@import "./variables.scss";

body{
	font-family: 'Quicksand', 'Avenir', Helvetica, Arial, sans-serif
}

h2{
	font-size: 24 * $rem;
	font-weight: normal;
}
a{
	text-decoration: none;
	color: $--color-primary;
}

.container{
	position: relative;
	margin:0 auto;	
	padding-top: 40*$rem;
    padding-bottom: 40*$rem;
}
.router-link-exact-active{
	font-weight: bold;
}
@media screen and (max-width: 768px) {
}
@media screen and (min-width: 768px) {
	.container{
		width:900px;
	}
}
html.mobile{
  height: 100%;
  overflow: hidden;
  body,.root{
    height: 100%;
    overflow: hidden;
    font-size: 14*$rem;
  }
  .container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    
  }
  .page-wrap{
    height:100%;
    overflow: hidden;
    position: relative;
  }
  .el-drawer__header{
  	padding: 10*$rem;
  }
}
.header{
	border-bottom: 1px solid #EAEAEA;
	background: white;
	height: 40*$rem;
}